{{ template "header.html"}}
<div class="text-nowrap mt-5 col-9 mx-auto">
  <input type="hidden" id="user_id" value={{.user_id}}/>
  <button class="btn btn-dark" id="delete-btn">Delete</button>
  <table id="cloudPrivateIPTable" class="display w-100">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Cloud VM Name</th>
      <th>Customer Name</th>
      <th>IPV4 Assignment</th>
      <th>IPV6 Assignment</th>
    </tr>
    </thead>
  </table>
  <div class="paginating-container pagination-solid">
    <ul class="pagination">
    </ul>
  </div>
</div>
<div class="modal fade modal-xl" tabindex="-1" role="dialog" id="modalCloudPrivateIP">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Edit Cloud Private IP</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body p-5 pt-0 row g-3 needs-validation" id="form-config" novalidate>
        <div class="w-100 accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Update Details
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body row">
                <div class="col-md-12">
                  <label for="ipv4_assignment" class="form-label my-1">IPV4 Assignment</label>
                  <input type="text" class="form-control" id="ipv4_assignment" value="">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="ipv6_assignment" class="form-label my-1">IPV6 Assignment</label>
                  <input type="text" class="form-control" id="ipv6_assignment" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="description" class="form-label my-1">Description</label>
                  <input type="text" class="form-control" id="description" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="assign_to" class="form-label my-1">Assign To :</label>
                  <select class="selectpicker show-menu-arrow w-100" id="assign_to" name="assign_to" data-live-search="true" required>
                    <option disabled selected value="">Select User</option>
                  </select>
                  <div class="invalid-feedback">
                    Need to select one User.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-primary" type="button" id="update-btn">Update</button>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-primary" type="button" id="cancel-btn" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src="/static/js/form_scripts.js"></script>
<script type="text/javascript" src="/static/js/list_scripts.js"></script>
<script type="text/javascript" src="/static/js/list_cloud_private_ip.js"></script>
{{ template "footer.html" }}
