{{ template "header.html"}}
<div class="text-nowrap mt-5 col-9 mx-auto">
  <input type="hidden" id="user_id" value={{.user_id}}/>
  <button class="btn btn-dark" id="delete-btn">Delete</button>
  <table id="emailDomainTable" class="display w-100">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Customers Location</th>
      <th>Domain Registrar</th>
      <th>Link for Domain Admin</th>

      <th>Account Number</th>
      <th>Account Number Aliases</th>
      <th>Account User Name</th>
      <th>Password</th>
      <th>PIN</th>
      <th>Domain</th>
      <th>A record 1</th>
      <th>A record 2</th>
      <th>A record 3</th>
      <th>A record 4</th>
      <th>Email Hosting</th>

      <th>Link for Email Admin</th>
      <th>Email Account Number </th>
      <th>Email Account Type </th>
      <th>Email User Name </th>
      <th>Email Password</th>
      <th>Email PIN</th>
      <th>MX Record 1</th>
      <th>MX Record 2 </th>
      <th>Web Site IP or alias</th>
      <th>Webmail POP/IMAP</th>
      <th>Webmail Exchange</th>
      <th>Notes</th>

    </tr>
    </thead>
  </table>
  <div class="paginating-container pagination-solid">
    <ul class="pagination">
    </ul>
  </div>
</div>
<div class="modal fade modal-xl" tabindex="-1" role="dialog" id="emailDomainModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Edit Email Domain</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body p-5 pt-0 row g-3 needs-validation" id="form-config" novalidate>
        <div class="w-100 accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Basic
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body row">
                <div class="col-md-12">
                  <label for="customer_location" class="form-label my-1">Customer Location</label>
                  <input type="text" class="form-control" id="customer_location" value=""  readonly>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="domain_registrar" class="form-label my-1">Domain Registrar</label>
                  <input type="text" class="form-control" id="domain_registrar" value="" >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="account_number" class="form-label my-1">Account Number</label>
                  <input type="text" class="form-control" id="account_number" value=""  >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="link_for_domain_admin" class="form-label my-1">Link for Domain Admin</label>
                  <div class="input-group has-validation">
                    <input type="url" class="form-control" id="link_for_domain_admin" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please enter a valid Link.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="account_name" class="form-label my-1">Account Name</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="account_name" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a account name.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="account_number_aliases" class="form-label my-1">Account Number Aliases</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="account_number_aliases" aria-describedby="inputGroupPrepend" >
                    <div class="invalid-feedback">
                      Please choose a account number aliases.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="account_user_name" class="form-label my-1">Account User Name</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="account_user_name" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a account user name.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="password" class="form-label my-1">Password</label>
                  <div class="input-group has-validation">

                    <input type="password" class="form-control" id="password" aria-describedby="inputGroupPrepend">
                    <div class="invalid-feedback">
                      Please choose a password.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="pin" class="form-label my-1">Pin</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="pin" aria-describedby="inputGroupPrepend" >
                    <div class="invalid-feedback">
                      Please choose a pin.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="domain" class="form-label my-1">Domain</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="domain" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                      Please choose a domain.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="a_record_1" class="form-label my-1">A record 1</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="a_record_1" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a A record 1.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="a_record_2" class="form-label my-1">A record 2</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="a_record_2" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a A record 2.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="a_record_3" class="form-label my-1">A record 3</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="a_record_3" aria-describedby="inputGroupPrepend"    >
                    <div class="invalid-feedback">
                      Please choose a A record 3.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="a_record_4" class="form-label my-1">A record 4</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="a_record_4" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please choose a A record 4.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_hosting" class="form-label my-1">Email Hosting</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="email_hosting" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a email hosting.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="link_for_email_admin" class="form-label my-1">Link for Email Admin</label>
                  <div class="input-group has-validation">
                    <input type="url" class="form-control" id="link_for_email_admin" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please enter a valid Link.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_account_number" class="form-label my-1">Email Account Number</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="email_account_number" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a email account number.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_account_type_id" class="form-label my-1">Email Account Type</label>
                  <select class="selectpicker1 show-menu-arrow w-100" id="email_account_type_id"   >
                    <option selected disabled value="">Choose...</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid account type.
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_user_name" class="form-label my-1">Email User Name</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="email_user_name" aria-describedby="inputGroupPrepend"    >
                    <div class="invalid-feedback">
                      Please choose a email user name.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_password" class="form-label my-1">Email Password</label>
                  <div class="input-group has-validation">

                    <input type="password" class="form-control" id="email_password" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please choose a email password.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="email_pin" class="form-label my-1">Email PIN</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="email_pin" aria-describedby="inputGroupPrepend"    >
                    <div class="invalid-feedback">
                      Please choose a email pin.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="mx_record_1" class="form-label my-1">MX Record 1</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="mx_record_1" aria-describedby="inputGroupPrepend"    >
                    <div class="invalid-feedback">
                      Please choose a MX Record 1.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="mx_record_2" class="form-label my-1">MX Record 2</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="mx_record_2" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please choose a MX Record 2.
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="website_ip_or_alias" class="form-label my-1">Web Site IP or alias</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="website_ip_or_alias" aria-describedby="inputGroupPrepend"  >
                    <div class="invalid-feedback">
                      Please choose a Web Site IP or alias.
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="web_mail_pop_imap" class="form-label my-1">Webmail POP/IMAP</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="web_mail_pop_imap" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please choose a Webmail POP/IMAP .
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="web_mail_exchange" class="form-label my-1">Webmail Exchange</label>
                  <div class="input-group has-validation">

                    <input type="text" class="form-control" id="web_mail_exchange" aria-describedby="inputGroupPrepend"   >
                    <div class="invalid-feedback">
                      Please choose a Webmail Exchange .
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="phone_setting_note" class="form-label my-1">Phone Settings Notes</label>
                  <div class="input-group has-validation">

                    <textarea class="form-control" id="phone_setting_note" aria-describedby="inputGroupPrepend" rows="10" cols="150"  ></textarea>
                    <div class="invalid-feedback">
                      Please choose a Phone Settings Notes .
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="notes" class="form-label my-1">Notes</label>
                  <div class="input-group has-validation">

                    <textarea class="form-control" id="notes" aria-describedby="inputGroupPrepend" rows="10" cols="150"  ></textarea>
                    <div class="invalid-feedback">
                      Please choose a Notes .
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-primary" type="submit" id="update-btn">Update</button>
        </div>
        <div class="col-1 mt-3">
          <button class="btn btn-primary" type="reset" id="cancel-btn" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
<script type="text/javascript" src="/static/js/form_scripts.js"></script>
<script type="text/javascript" src="/static/js/list_scripts.js"></script>
<script type="text/javascript" src="/static/js/list_email_domain.js"></script>
{{ template "footer.html"}}
